.navbar {
  width: 100%;
  color: white;
  font-size: 14px;
  position: fixed;
  top: 0;
  z-index: 999;
  background: linear-gradient(to top, transparent 0%, rgb(0, 0, 0, 0.3) 50%);

  &.scrolled{
    background-color: var(--nav-color);
  }
  

  .container {
    padding: 0px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;

    .left{
      display: flex;
      align-items: center;
      img{
        height: 25px;
        margin-right: 40px;
      }

      span {
        margin-right: 20px;
        cursor: pointer;
        &:hover {
          color: red;
        }
      }
    }

    .right{
      display: flex;
      align-items: center;

      button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      &:focus {
        outline: none;
      }
  
     }

     .search {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.2rem;
      padding-left: 0.5rem;
      button {
        background-color: transparent;
        border: none;
        &:focus {
          outline: none;
        }
        svg {
          color: white;
        }
      }
      input {
        width: 0;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s ease-in-out;
        background-color: transparent;
        border: none;
        color: white;
        &:focus {
          outline: none;
        }
      }
    }

    .show-search {
      border: 1px solid white;
      border-radius: 15px;
      margin-right: 5px;
      background-color: rgba(0, 0, 0, 0.6);
      input {
        width: 100%;
        opacity: 1;
        visibility: visible;
        padding: 0.3rem;
      }
    }





.kids {
  width: 90px;
  height: 100%;
  margin: 15px -30px 0px 0px;
  border-radius: 20px;
  

  &:hover{
    display: flex;
  }
}
      
      .icon {
        margin: 0px 15px;
        cursor: pointer;
        &:hover {
          color: red;
        }
      }



      .user-icon {
        align-items: center;
        justify-content: center;

        img{
          height: 30px;
          width: 30px;
          border-radius: 5px;
          object-fit: cover;
          cursor: pointer;
          margin: 10px 0px 5px 0px ;
        }

        p{
          margin: 0px 0px 0px 0px ;
          text-align: center;
          display: none;
          color: gray;
        }

        &:hover{
          p {
            display: block;
          }
        }
      }

      .profile {
        .options {
          display: none;
          background-color: var(--main-color);
          border-radius: 5px;
        }

        span {
          padding: 10px;
          cursor: pointer;
          &:hover{
            color: red;
          }
        }

        &:hover {
          .options {
            display: flex;
            flex-direction: column;
            position: absolute;
          }
        }
      }
    }
    
  }
}